<div class="row">
  <dl>
    <dt>User:</dt>
    <dd><%= review.user.email %></dd>
    <dt>Rating:</dt>
    <dd><%= review.rating %> / 5</dd>
    <dt>Review:</dt>
    <dd><%= review.description %></dd>
  </dl>

</div>
